
.pages_header {
    background: url(../images/pages-header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel-indicators li {
    // background-color: #60606e;
}
// .divfor-dreamteam-imgs {
//     width: 160px;
//     height: 100px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }